@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

.contain {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
.banner:hover .swiper-button-prev,
.swiper-button-next {
  display: block !important;
  transition: all ease-in-out 2s;
  -webkit-transition: all ease-in-out 2s;
  -moz-transition: all ease-in-out 2s;
  -ms-transition: all ease-in-out 2s;
  -o-transition: all ease-in-out 2s;
}

.swiper-button-prev {
  color: white !important;
}
.swiper-button-next {
  color: white !important;
}
.swiper-button-prev:after {
  font-size: 30px !important;
}
.swiper-button-next:after {
  font-size: 30px !important;
}
